---
import DefaultTemplate from '@layouts/default.astro';

const SEO = {
  title: 'Landing Page Test',
  description: 'Landing Page Test',
  robots: 'index,follow',
}

const headings:any[] = [];
---

<DefaultTemplate SEO={SEO} headings={headings}>
  <section class="atm-container">

  </section>
</DefaultTemplate>