:root {
  /*--im-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";*/

  /*--im-color: #fff;*/
  --im-color: #d4d4d4;
  /*--im-bg: #0b1016;*/
   --im-bg: #292524;

  /*--im-link-color: #5fb3fb;*/
  /*--im-link-hover-color: rgba(95, 178, 251, 0.682);*/

  /*--im-btn-color: #fff;*/
  /*--im-btn-bg: rgba(0, 102, 219, 0.84);*/
  --im-btn-bg:rgba(73, 68, 144, 1);

  /*--im-btn-hover-bg: rgba(9, 80, 161, 0.89);*/
  --im-btn-hover-bg: rgba(58, 54, 115, 1);
  /*--im-btn-active-box-shadow: 0 0 0 .25em rgba(24, 104, 250, 0.24);*/

  /*--im-btn-s-color: var(--im-bg);*/
  /*--im-btn-s-bg: rgba(225, 239, 255, .8);*/
  --im-btn-s-bg: rgba(229, 229, 229, 1);
  /*--im-btn-s-hover-bg: rgba(225, 239, 255, .95);*/
  --im-btn-s-hover-bg: rgba(212, 212, 212, 1);
  /*--im-btn-s-active-bg: rgba(225, 239, 255, .6);*/

  /*--im-overlay-bg: linear-gradient(14deg, rgba(30,56,97,1) 0%, rgba(206,220,233,0.118) 100%)*/
}