---
import Default from "./default.astro";
import SideBar from "@components/side.bar.astro";

const { SEO, headings } = Astro.props;
---

<Default SEO={SEO} headings={headings}>
  <section class="atm-container">
    <div class="grid grid-cols-3 lg:grid-cols-4 gap-8">
      <div class="col-span-3">
        <slot/>
      </div>
      <div class="hidden lg:block">
        <SideBar headings={headings} open={true}/>
      </div>
    </div>
  </section>
</Default>